# https://pycqa.github.io/isort/docs/configuration/options.html

[isort]
skip_glob=scripts/*, deploy/*,
          messenger/migration/*,
known_first_party=messenger, messenger.models
known_local_folder=messenger, messenger.models

line_length=88
multi_line_output=3
include_trailing_comma=True
force_grid_wrap=0
use_parentheses=True

