/* frontend/static/frontend/styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
}

.message-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

h1 {
    font-size: 24px;
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #e2e2e2;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
}

li .sender {
    font-weight: bold;
    color: #555;
}

li .message {
    margin-top: 5px;
    color: #333;
}

li .created_at {
    font-size: 10px;  /* Smaller font size */
    color: #999;
    margin-top: 5px;
    text-align: right;  /* Optional: aligns the date to the right */
}

/* frontend/static/frontend/styles.css */
.message-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 20px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}

#message-list {
    max-height: 500px;  /* Adjust based on your layout */
    overflow-y: auto;  /* This will make the list scrollable */
    padding-right: 10px;  /* Optionally, add space for the scrollbar */
}

.divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
}

.divider::before,
.divider::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #ddd;
}

.divider span {
    padding: 0 10px;
    color: #666;
    font-size: 14px;
}

/* Google Sign-In button container */
#g_id_onload {
    margin: 20px 0;
}

/* Ensure the Google button is centered */
.g_id_signin {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}